



/* 	Copyright Adam Gedney 5/7/13
contact: adam.gedney@gmail.com
http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/


/*
Yellow - #e9cc02
Purple -442f52
off white  -#c7c0b6
white -#faf9f3
brown -#1f1f1d
grey -#969696
light grey -bcbcbc
dark grey -686868
red -#bf767e
*/
/*--------------------------------------Start CSS Reset---------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}







/*--------------------------------------End CSS Reset / Start General-------------------------------*/


body{
	background: #faf9f3;
	color: #c7c0b6;
	font: 62.5% "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

h1{
	font-size: 3.9em;
	line-height: 1.1em;
	margin-top: 30px;
}

h2{
	font-size: 2.6em;
	line-height: 1.14em;
}

h3{
	font-size: 1.6em;
	line-height: 1.8em;
}

p, ul, dl{
	font-size: 1.6em;
	line-height: 1.6;
	margin-bottom: 20px;
}

ul{
	line-height: 1.3em;
}

a{
	text-decoration: none;
	color: #08298A;
}

object:focus { outline:none; }

.bold{
	font-weight: 700;
}

.red-highlight{
	color:#bf767e;
}
/*--------------------------------------End General / Start Main------------------------------------*/

header{
	opacity: .7;
	background: #faf9f3;
	padding: 0 40px;
	height: 70px;
	border-bottom: solid 1px #442f52;
}

.logo{

}

.row:nth-child(1){
 	margin-bottom: 0;
}

.landing{
	background: url("../images/synth.jpg") #efefef;
	min-width: 100%;
	height: 575px;
	padding-top: 28px;
}

.content{
	font-weight: 100;
	text-align: center;
	margin: 130px 0 0;
	padding-left: 40px;
	
}

.content h1{
	margin-bottom: 50px;
	font-weight: 100;
}

.tip{
	margin-top:45px;
	float:right;
}

#wrapper {
	width: 525px;
	float: right;
	background: #1f1f1d;
	max-width:525px;
	height:525px;
	margin-right: 100px;
}

img.accent{
	display: block;
	max-width: 400px;
	margin: 10px auto 60px;

}
.body-copy{
	color: #969696;
	width: 50%;
	margin: 0 25%;

}
.body-copy h2{
	color: #686868;
	margin-bottom: 8px;
}



a.button{
	display: inline-block;
	width: 175px;
	height: 50px;
	margin: 34px auto 200px;

	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

	line-height: 2.2em;
	padding-left: 17px;
	font-size: 2.4em;
	font-weight: 100;
	color: #000;
}

a.button:hover{

	background: #f8b500; /* Old browsers */
	background: -moz-linear-gradient(top, #f8b500 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbdf93), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8b500 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8b500 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8b500 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f8b500 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b500', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

	color: #fff;
}

footer{
	height: 50px;

}

.copyright p{
	display: block;
	width: 15%;
	padding-left: 2%;
	margin: 30px auto 30px;
	font-weight: 100;
	color: #969696;
}






